*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(4, 110, 191);
}

.container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 10vw);
    min-height: 100vh;
    margin:0 5vw;
    background: rgb(4, 110, 191);
}

.navbar{
    display: flex;
    flex-grow: 1;
    width:  calc(100% - 10vw);
    margin:0 5vw;
    height: 60px;
    border-radius: 0  0 25px 25px;
    background: #f3faff;
    position: absolute;
}

.horizontal-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.horizontal-container *{
    margin: 0 2vw;
}

.horizontal-container:nth-child(2){
    flex-direction: row-reverse;
}


.text{
    font-family: "Arial Unicode MS", serif;
    font-size: 18px;
    cursor: pointer;
}

.text--bold{
    font-weight: bold;
    cursor: default;
}

.text--big{
    font-size: 22px;
}

.text--smoky{
    color: rgba(0, 0, 0, 0.5);
}

.content{
    background: #f3faff;
    margin: 100px 0 80px 0;
    flex-grow: 1;
    min-height: calc(100vh - 180px);
    border-radius: 25px;
    height: 500px;
}

.title{
    display: flex;
    margin-top:20px;
}

.add-film-btn{
    background: inherit;
    border: 2px dashed black;
    border-radius: 10px;
    height:350px;
    width: 250px;
    margin: 20px 40px;
}

.add-film-btn:hover{
    cursor: pointer;
    background-color: rgba(4, 110, 191, 0.05);
    height:348px;
    width: 248px;
    transition: 0.3s;
    margin: 21px 41px;
}

.add-film-btn span{
    font-size: 48px;
}

.modal{
    display: none;
}

.modal__window{
    position: absolute;
    top: calc(50% - 325px);
    left: calc(50% - 400px);
    width: 800px;
    height: 650px;
    background: rgb(255, 192, 203);
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.modal__background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(137, 137, 137, 0.75 );
}

.modal__title{
    text-align: center;
    margin-top: 20px;
}

.modal__window input[type=text]{
    background: white;
    height: 40px;
    flex-grow: 1;
    margin: 10px 10px 10px 0;
    border: 1px solid black;
    border-radius:25px;
    padding-left: 25px;
    cursor: text;
}

.modal__window input[type=text]:focus{
    background: rgba(255, 192, 203, 0.5);
    outline: unset;
}

.modal__window input[type=text]:hover{
    background: rgba(255, 192, 203, 0.5);
    transition: 0.3s;
}

.modal__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__input label{
    display: block;
    margin: 0 20px;
}

.modal__window input[type=file]{
    display: none;
}

.file-add{
    width: 800px;
}

.file-add .horizontal-container{
    margin: 0;
}

.file-add__choose{
    height: 200px;
    width: 200px;
    border: 2px dashed black;
    border-radius: 10px;
    background: inherit;
    margin: 15px 0 0 15px ;
    display: flex;
    justify-content: center;
}

.file-add__choose span{
    align-self: center;
    text-align: center;
}

.file-add__choose:hover{
    height: 198px;
    width: 198px;
    transition: 0.4s;
    margin: 16px 0 0 16px;
    cursor: pointer;
}

.file-add__drug-and-drop{
    height: 200px;
    width: 550px;
    border: 2px dashed black;
    border-radius: 10px;
    background: inherit;
    margin: 15px 15px 0 0 ;
    display: flex;
    justify-content: center;
}

.file-add__drug-and-drop span{
    align-self: center;
    text-align: center;
}

.action-field{
    max-width: 800px;
    display: flex;
    margin-top: 20px;
}

.action-field__btn{
    height: 30px;
    width: 80px;
    border-radius: 25px;
    border: 1px solid black;
    background: inherit;
    display: flex;
    justify-content: center;
}

.action-field__btn:hover{
    cursor: pointer;
}

.action-field__btn:active{
    height: 28px;
    width: 78px;
}